@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

body{
  font-family: 'K2D', sans-serif;
}

.blog-post .blog-post-body p p img{
    max-width: 100% !important;
    height: auto !important;
}
.pagination {
    display: flex !important;
    justify-content: center !important;
  }
  
  .form-control{
    border-radius: 20px;
  }

  .card{
    margin-bottom: 20px;
    border-radius: 20px !important;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  }
  
  .card-img, .card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .btn-primary {
    color: #fff;
    border-radius: 10px;
}
  /* .pagination li {
    display: block !important;
   } */